.container {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 20px;
}

.item {
    width: 50%;
}

.item img {
    display: block;
    margin: auto;
    width: 80%;
}
